
.inter-normal{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;

}

.raleway-normal {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight:normal;
  font-style: normal;
}
.back-photo{
    background-image: url(../Assets/Hero-bg.png);
    margin-top: 0px;
}

/* nav-style */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin:0px 150px 547px 150px;
}
.nav-title{
    font-size: 34px;
    color:rgba(133, 71, 255, 1);
    font-weight: bold;
}


/* extra-style */
.btn-primary{
    background-color: #4E47FF;
    color: rgba(255, 255, 255, 1);
    font-size: 16px;
    font-weight: bold;
    padding: 12px 36px;
   border: none;
    border-radius: 10px;
}
/* banner */
.banner{
   margin:0px 267px 152px 263px;
    /* margin:50px 365px 0px 365px ; */

}
.banner-button{
    margin:48px 633px 152px 633px ;
     align-items: center;
}
.banner-text{
    font-size: 65px;
    font-weight: bold;
    color: rgba(37, 36, 50, 1);
}